<% content_for(:title, "Home | Photo App") %>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h4>Photo App</h4>
    </div>

  </div><!-- div for col -->
</div><!-- div for row -->
