<div class="col-lg-12">
  <div class="page-header">
    <h1>Photo App</h1>

    <%= link_to "Upload Photo", new_user_photo_path(@user) %>




  </div><!-- div for header -->
</div><!-- div for col -->
